.strengths {
  display: flex;
  flex-direction: column;

  border-top: 5px solid $orange;
  border-bottom: 5px solid $green-light;

  .cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-500) {
      flex-direction: column;
    }

    .card {
      width: 30%;
      padding: 8rem 3rem;
      background-color: $green-dark;
      border-radius: .5rem;
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);

      color: $white;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.8rem;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.3s;

      @media only screen and (max-width: $bp-500) {
        width: 100%;
        margin-bottom: 4rem;
      }

      &:hover {
        transform: translateY(-1rem);
      }

      @media only screen and (max-width: $bp-700) {
        font-size: 1.2rem;
        padding: 5rem 3rem;
      }
    }
  }

  @media only screen and (max-width: $bp-1100) {
    padding: 5rem;
  }
}